node_modules

dist
.output
.wxt

.env

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.redmine/data/
.redmine/themes/*
!.redmine/themes/.gitkeep