node_modules

dist
.output
.wxt

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests/screenshots

.redmine/data
!.redmine/data/e2e-tests
.redmine/themes/*
!.redmine/themes/.gitkeep