@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"].appearance-none::-webkit-inner-spin-button,
  input[type="number"].appearance-none::-webkit-outer-spin-button {
    appearance: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #1e3a8a;
  border-radius: 3px;
}

input[name="done_ratio"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  width: 2px;
}
