@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (@media (prefers-color-scheme: dark));

@theme {
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);
  --color-primary-disabled: var(--color-primary-disabled);
  --color-primary-focus: var(--color-primary-focus);

  --color-background: var(--color-background);
  --color-background-hover: var(--color-background-hover);
  --color-background-inner: var(--color-background-inner);

  --color-text: var(--color-text);
  --color-text-disabled: var(--color-text-disabled);

  --color-field: var(--color-field);
  --color-field-inner: var(--color-field-inner);
  --color-field-border: var(--color-field-border);
  --color-field-placeholder: var(--color-field-placeholder);
  --color-field-disabled: var(--color-field-disabled);

  --color-dark-50: #c9c9c9;
  --color-dark-100: #b8b8b8;
  --color-dark-200: #828282;
  --color-dark-300: #696969;
  --color-dark-400: #424242;
  --color-dark-500: #3b3b3b;
  --color-dark-600: #2e2e2e;
  --color-dark-700: #242424;
  --color-dark-800: #1f1f1f;
  --color-dark-900: #141414;

  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;
  --color-blue-950: #172554;
  --color-blue: #1d4ed8;
}

@utility appearance-none {
  &input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
  }
  & input[type="number"]::-webkit-outer-spin-button {
    appearance: none;
  }
  &input[type="number"] {
    -moz-appearance: textfield;
  }

  &input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 2px;
  }
  &input[type="range"]::-moz-range-thumb {
    cursor: pointer;
    width: 2px;
  }
}

@layer base {
  :root,
  :host {
    --color-primary: var(--color-blue-800);
    --color-primary-hover: var(--color-blue-700);
    --color-primary-disabled: var(--color-blue-400);
    --color-primary-focus: var(--color-blue-400);

    --color-background: var(--color-white);
    --color-background-hover: var(--color-gray-100);
    --color-background-inner: var(--color-gray-200);

    --color-text: var(--color-gray-900);
    --color-text-disabled: var(--color-gray-300);

    --color-field: var(--color-gray-100);
    --color-field-inner: var(--color-gray-200);
    --color-field-border: var(--color-gray-300);
    --color-field-placeholder: var(--color-gray-500);
    --color-field-disabled: var(--color-gray-200);
  }
  @media (prefers-color-scheme: dark) {
    :root,
    :host {
      --color-primary: var(--color-blue-700);
      --color-primary-hover: var(--color-blue-800);
      --color-primary-disabled: var(--color-blue-500);
      --color-primary-focus: var(--color-blue-800);

      --color-background: var(--color-dark-800);
      --color-background-hover: var(--color-dark-700);
      --color-background-inner: var(--color-dark-600);

      --color-text: var(--color-white);
      --color-text-disabled: var(--color-gray-500);

      --color-field: var(--color-dark-900);
      --color-field-inner: var(--color-dark-800);
      --color-field-border: var(--color-dark-600);
      --color-field-placeholder: var(--color-gray-500);
      --color-field-disabled: var(--color-dark-700);
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 3px;
}
